.eventbox {
    padding: 23px;
}
footer{
position: absolute;
bottom: 0;
}

.landing-page .header .container {
    padding-top: 21vh;
    color: #FFFFFF;
    padding-bottom: 21vh;
}

.login-page .card-login .card-header{
background:#a25abd;
}

.card-login .card-title{
color: white;
}