<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Dashboard | MigrateWizard</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    {% load staticfiles %}

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!--  Material Dashboard CSS  -->
    <link href="{% static 'dashboard/css/material-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project  -->
    <link href="{% static 'dashboard/css/demo.css' %}" rel="stylesheet"/>

    <!--  Fonts and icons  -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>

</head>

<body>
<div class="wrapper">
    <div class="sidebar" data-active-color="purple" data-background-color="black"
         data-image="../assets/img/sidebar-1.jpg">

        <div class="logo">
            <a href="#" class="simple-text">
                Migrate Wizard
            </a>
        </div>

        <div class="logo logo-mini">
            <a href="#" class="simple-text">
                MW
            </a>
        </div>

        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="{% static 'dashboard/img/christian.jpg'%}"/>
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        {% if request.user.is_authenticated %}
                        {{ request.user.username }}
                        {% endif %}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">

                <li class="active">
                    <a href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Apps</p>
                    </a>
                </li>
                <li>
                    <a href="/domains/">
                        <i class="material-icons">language</i>
                        <p>Domains</p>
                    </a>
                </li>
                 <li>
                    <a href="/billing/">
                        <i class="material-icons">attach_money</i>
                        <p>Billing</p>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="material-icons">people</i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/logout/">
                        <i class="material-icons">widgets</i>
                        <p>LogOut</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<div class="main-panel ps-container ps-theme-default ps-active-y">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                    <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Dashboard
                    <div class="ripple-container"></div>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">notifications</i>
                            <span class="notification">5</span>
                            <p class="hidden-lg hidden-md">
                                Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mike John responded to your email</a></li>
                            <li><a href="#">You have 5 new tasks</a></li>
                            <li><a href="#">You're now friend with Andrew</a></li>
                            <li><a href="#">Another Notification</a></li>
                            <li><a href="#">Another One</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                    </li>

                    <li class="separator hidden-lg hidden-md"></li>
                </ul>

                <!---<form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                        <input class="form-control" placeholder="Search" type="text">
                        <span class="material-input"></span>
                        <span class="material-input"></span></div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
                -->

            </div>
        </div>
    </nav>
            {% block body %}
            {% endblock %}

    <footer class="footer">
			    <div class="container-fluid">
			        <nav class="pull-left">
			            <ul>
			                <li>
			                    <a href="#">
			                        Home
			                    </a>
			                </li>
			                <li>
			                    <a href="#">
			                        Company
			                    </a>
			                </li>
			                <li>
			                    <a href="#">
			                        Portfolio
			                    </a>
			                </li>
			                <li>
			                    <a href="#">
			                       Blog
			                    </a>
			                </li>
			            </ul>
			        </nav>
			        <p class="copyright pull-right">
			            © <script async="" src="//www.google-analytics.com/analytics.js"></script><script>document.write(new Date().getFullYear())</script> MW
			        </p>
			    </div>

			</footer>
</div>
</div>
</body>
{% load staticfiles %}
<script src ="{% static 'dashboard/js/bootstrap.min.js' %}" ></script>
<script src ="{% static 'dashboard/js/jquery-3.1.1.min.js' %}"></script>
<script src ="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>
<script src ="{% static 'dashboard/js/material.min.js' %}"></script>
<script src ="{% static 'dashboard/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src ="{% static 'dashboard/js/material-dashboard.js' %}"></script>
<script src ="{% static 'dashboard/js/jquery.bootstrap-wizard.js' %}"></script>
<script src ="{% static 'dashboard/js/demo.js' %}"></script>
<script src ="{% static 'dashboard/js/jquery.tagsinput.js' %}"></script>
<script src ="{% static 'dashboard/js/jquery.dropdown.js' %}"></script>
<script src ="{% static 'dashboard/js/jquery.validate.min.js' %}"></script>
<script src ="{% static 'dashboard/js/sweetalert2.js' %}"></script>

</html>