{% extends 'dashboard/base.html' %}
{% block body %}

<div class="content">
    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">contacts</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Deploy New App</h4>
                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <label class="col-md-3 label-on-left">App Name</label>

                            <div class="col-md-9">
                                <div class="form-group label-floating is-empty is-focused">
                                    <label class="control-label"></label>
                                    <input class="form-control" type="text" placeholder="My Blog" name="appName" required>
                                    <span class="material-input"></span></div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-3 label-on-left">Domain Name</label>

                            <div class="col-md-9">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input class="form-control" type="text" placeholder="www.migratewizard.com" name="domainName" required>
                                    <span class="material-input"></span></div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-3 label-on-left">Package</label>

                            <div class="col-md-9">
                                <div class="col-sm-4">
                                    <div class="choice active">
                                        <div class="icon" style="font-size:64px;">
                                            <i class="fa fa-wordpress"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-3"></label>

                            <div class="col-md-9">
                                <div class="form-group form-button">
                                    <button type="submit" class="btn btn-fill btn-rose">Deploy Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
   {% if alert %}
      alert("{{alert}}");
   {% endif %}
</script>
{% endblock %}
