<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MW Login Page</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!--  Material Dashboard CSS  -->
    <link href="{% static 'dashboard/css/material-dashboard.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project  -->
    <link href="{% static 'dashboard/css/demo.css' %}" rel="stylesheet"/>

    <!--  Fonts and icons  -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">Migrate Wizard Login</a>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form method="POST" action="/login/auth/"> {% csrf_token %}
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center">
                                    <h4 class="card-title">Login</h4>
                                    <!--<div class="social-line">
                                        <a href="#btn" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#eugen" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    -->
                                </div>
                                <p class="category text-center"></p>
                                <div class="card-content">
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>

                                        <div class="form-group label-floating">
                                            <label class="control-label">User Name</label>
                                            <input type="text" name="username" class="form-control">
                                        </div>
                                    </div>

                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <a href="/signup/"><input type="button" style="color:black;" value="Signup"></a>
                                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    <a href="http://www.migratewizard.com/">Migrate Wizard</a>, made with <i class="material-icons"
                                                                                             style="color:#c80000">favorite</i>
                </p>
            </div>
        </footer>
    </div>
</div>

</body>

<script type="text/javascript">
        $().ready(function(){
            demo.checkFullPageBackgroundImage();

            setTimeout(function(){
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });

</script>
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'dashboard/js/material.min.js' %}"></script>
<script src="{% static 'dashboard/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'dashboard/js/demo.js' %}"></script>

</html>