{% extends 'dashboard/base.html' %}
{% block body %}

<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">apps</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">My Apps - Alpha Testing</h4>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>Name</th>
                                <th>Domain</th>
                                <th>Hostname</th>
                                <th>Package</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for instance in all_instances %}
                            <tr>
                                <td>{{instance.name}}</td>
                                <td>{{instance.domainname}}</td>
                                <td><a href="//mw{{instance.mwsubdomain}}.cloud.migratewizard.com" target="_onblank">mw{{instance.mwsubdomain}}.cloud.migratewizard.com</a></td>
                                <td>WordPress</td>
                                <td>
                                    {% if instance.status is 1 %}
                                    Active
                                    {% else %}
                                    Inactive
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="/pause/?id={{instance.mwsubdomain}}">
                                        {% if instance.status is 1 %}
                                        <i class="material-icons" id="pause_box">pause</i>
                                    </a>
                                    {% else %}
                                    <a href="/resume/?id={{instance.mwsubdomain}}">

                                        <i class="material-icons" id="run_box">play_arrow</i>
                                    </a>
                                    {% endif %}

                                    <a href=""><i class="material-icons">settings</i></a>
                                    <a href="/del/?id={{instance.mwsubdomain}}"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% if all_instances.count == 0 %}
                        <p class="text-center">You have no app!!</p>
                        {% endif %}
                    </div>
                  <br>
                    <p class="text-center">
                    <a href="/deploy/">
                        <i class="material-icons" style="font-size: 32px;">add_circle</i>
                        Deploy New</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

