{% extends 'manager/base.html' %}
{% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">apps</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">My Apps - Alpha Testing</h4>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>User</th>
                                <th>Limit</th>
                                <th>Email Address</th>
                                <th>Package</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in all_users %}
                            <tr>
                                <td>{{user.username}}</td>
                                <td>{{user.profile.limit}}</td>
                                <td>{{user.email}}</a></td>
                                <td>WordPress</td>
                                <td>Active</td>
                                <td><a href="/manager/users/del/?username={{user.username}}">
                                <i class="material-icons">delete_forever</i></a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% if all_users.count == 0 %}
                        <p class="text-center">You have no users!!</p>
                        {% endif %}
                    </div>
                  <br>
                    <!--<p class="text-center">-->
                    <!--<a href="/deploy/">-->
                        <!--<i class="material-icons" style="font-size: 32px;">add_circle</i>-->
                        <!--Deploy New</a>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

